<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Хранение заметок</title>
</head>

<body>
    <h1 class="title">Хранение заметок</h1>
    <div id="app">
        <form class="cardForm" @submit.prevent="addNote">
            <p>
                <label for="NoteTitle">Title:</label>
                <input class="titlenote" id="NoteTitle" v-model="noteTitle" placeholder="title" required>
            </p>
            <p>
                <label for="ActionOne">Action 1:</label>
                <input id="ActionOne" v-model="actionOne" placeholder="Action" required>
            </p>
            <p>
                <label for="ActionTwo">Action 2:</label>
                <input id="ActionTwo" v-model="actionTwo" placeholder="Action" required>
            </p>
            <p>
                <label for="ActionThree">Action 3:</label>
                <input id="ActionThree" v-model="actionThree" placeholder="Action" required>
            </p>
            <p>
                <label for="ActionFour">Action 4:</label>
                <input id="ActionFour" v-model="actionFour" placeholder="Action" required>
            </p>
            <p>
                <button class="btn">Добавить</button>
            </p>
        </form>
        <div class="columns" style="display: flex; justify-content: space-evenly; ">
            <div class="column">
                <h2>First Column</h2>
                <div class="card" v-for="group in firstColumn" :key="group.id">
                    <h3>{{ group.noteTitle }}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h2>Second Column</h2>
                <div class="card" v-for="group in secondColumn" :key="group.id">
                    <h3>{{ group.noteTitle }}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h2>Third Column</h2>
                <div v-for="group in thirdColumn" :key="group.id">
                    <div class="card">
                        <h3>{{ group.noteTitle }}</h3>
                        <ul>
                            <li v-for="item in group.items" :key="item.id">
                                <input type="checkbox" v-model="item.checked">
                                {{ item.text }}
                            </li>
                        </ul>
                        <p v-if="group.isComplete">{{ group.lastChecked }}</p>
                        <button class="btn" @click="deleteNoteGroup(group.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>